about-time==3.1.1
alabaster==0.7.12
alive-progress==2.4.1
astroid==2.11.7
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1618968359944/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1659291887007/work
autopep8==1.6.0
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1655419414885/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
bidict==0.22.0
black==22.6.0
bposd==1.6
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1648854167867/work
cachetools==4.2.4
CD==1.1.0
certifi==2022.9.24
cffi @ file:///tmp/abs_98z5h56wf8/croots/recipe/cffi_1659598650955/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
cirq==1.0.0
cirq-aqt==1.0.0
cirq-core==1.0.0
cirq-google==1.0.0
cirq-ionq==1.0.0
cirq-pasqal==1.0.0
cirq-rigetti==1.0.0
cirq-web==1.0.0
click==8.1.3
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1655412516417/work
coverage==6.4.3
cryptography @ file:///tmp/build/80754af9/cryptography_1652101588599/work
cycler==0.11.0
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1636043255643/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
dill==0.3.5.1
distlib==0.3.5
docutils @ file:///opt/conda/conda-bld/docutils_1657175430858/work
duet==0.2.7
EditorConfig==0.12.3
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1646044401614/work
FaultTolerantQPU @ file:///home/pderks/Documents/phd/FaultTolerantQPU
filelock==3.7.1
flake8==4.0.1
fonttools==4.31.2
google-api-core==1.32.0
google-auth==1.35.0
googleapis-common-protos==1.56.4
grapheme==0.6.0
grpcio==1.48.0
h11==0.9.0
httpcore==0.11.1
httpx==0.15.5
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
imagesize @ file:///home/conda/feedstock_root/build_artifacts/imagesize_1656939531508/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1653252803161/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1603384189793/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1647271117199/work/dist/ipykernel-6.9.2-py3-none-any.whl
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1646324684280/work
iso8601==0.1.16
isort==5.10.1
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1637175074658/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
jsbeautifier==1.14.3
jsonschema==4.4.0
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1642858610849/work
jupyter-core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1645024262201/work
jupytext==1.13.7
-e git+https://github.com/OzYossarian/Kandel.git@e26e5a435d94b0a813943a52a2258b52c20e4eaf#egg=Kandel
kiwisolver==1.4.2
lark==0.11.3
lazy-object-proxy==1.7.1
ldpc==0.1.4
markdown-it-py==1.1.0
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1648737547956/work
matplotlib==3.5.1
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1631080358261/work
mccabe==0.6.1
mdit-py-plugins==0.3.0
mpmath==1.2.1
msgpack==0.6.2
mypy==0.941
mypy-extensions==0.4.3
nbformat==5.2.0
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1638419302549/work
networkx==2.7.1
numpy==1.22.3
p2j==1.3.2
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.4.3
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pathspec==0.9.0
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.0.1
platformdirs==2.5.2
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1648772594861/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1644497866770/work
proto-plus==1.20.6
protobuf==3.20.1
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1640887111623/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
py @ file:///home/conda/feedstock_root/build_artifacts/py_1636301881863/work
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic==1.9.1
pyflakes==2.4.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1641580240686/work
PyJWT==1.7.1
pylint==2.14.5
PyMatching==2.0.1
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1663846997386/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1642753572664/work
pyquil==3.1.0
pyrsistent==0.18.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pytest==7.1.3
pytest-cov==3.0.0
pytest-mock @ file:///home/conda/feedstock_root/build_artifacts/pytest-mock_1657048093833/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-rapidjson==1.8
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1660580468234/work
PyYAML==6.0
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1635877336018/work
qcs-api-client==0.20.17
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1661872987712/work
retry==0.9.2
retrying==1.3.3
retworkx==0.12.0
rfc3339==6.2
rfc3986==1.5.0
rpcq==3.10.0
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
rustworkx==0.12.0
-e git+https://github.com/peter-janderks/short_measurement_schedules_simulations.git@b26c50dbbcb29cef0ba74fbb3d281dafa69530e1#egg=s5
scipy==1.8.0
sinter==1.9.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio==1.2.0
snowballstemmer @ file:///home/conda/feedstock_root/build_artifacts/snowballstemmer_1637143057757/work
sortedcontainers==2.4.0
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1653904692612/work
sphinx-rtd-theme @ file:///Users/ktietz/demo/mc3/conda-bld/sphinx_rtd_theme_1629455006846/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-htmlhelp_1621704829796/work
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-serializinghtml_1649380998999/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1644872665635/work
stim==1.10.0
stimcirq==1.9.0
sympy==1.10.1
toml==0.10.2
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tomlkit==0.11.4
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1635819581833/work
tox==3.25.1
tqdm==4.64.0
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1635260543454/work
typing_extensions==4.1.1
tzdata==2021.5
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1658789158161/work
virtualenv==20.15.1
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
wk==1.0
wrapt==1.14.1
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1659400682470/work
